.homeContainer{
    background-image: url('../../assets/mainImages/homePage.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;  
    justify-content: space-between;
}

.homeText {
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
        margin:0px;
        color: white;
        font-size: 5vw;
        font-weight: 400;
    }
}

.btnContainer {
    margin-bottom: 10vh;
    align-self: center;

    button {
        background-color: transparent;
        color: white;
        border: 2px solid white;        
        padding: 10px 30px;
    }
}