.pufiNapContainer {
    display: flex;
    flex-wrap: wrap;
}

.pufiNapBtn {
    background-image: url("../../assets/mainImages/pufiNap.jpg");
    @include backImageContainer();
}

.pufiNapText {
    @include textContainer();
}

@media(max-width: 620px) {
    .pufiNapContainer {
        justify-content: center;
        max-width: 100%;
        height: auto;
    }
}