.pufiRainContainer {
    display: flex;
    flex-wrap: wrap;
}

.pufiRainBtn {
    background-image: url("../../assets/mainImages/pufiRain.jpg");
    @include backImageContainer();
}

.pufiRainText {
    @include textContainer();
}

.triangle {
   /* width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-right: 80px solid lightblue;
    border-bottom: 40px solid transparent;*/

    background-color: white;
    width: 60px;
    height: 60px;
    transform: rotate(135deg);
    display: flex;
    align-self: center;

}

@media(max-width: 620px) {
    .pufiRainContainer {
        align-items: center;
        flex-direction: column-reverse;
        justify-content: center;
        max-width: 100%;
        height: auto;
    }
}