.pufiCartContainer {
    display: flex;
    flex-wrap: wrap;
}

.pufiCartBtn {
    background-image: url("../../assets/mainImages/pufiCart.jpg");
    @include backImageContainer();
}

.pufiCartText {
    @include textContainer();
}

.triangle {
     background-color: white;
     width: 30px;
     height: 30px;
     transform: rotate(135deg);
     display: flex;
     align-self: center;
 }
 

@media(max-width: 620px) {
    .pufiCartContainer {
        align-items: center;
        flex-direction: column-reverse;
        justify-content: center;
        max-width: 100%;
        height: auto;
    }
}