.pufiNapContainer {
    display: flex;
    flex-wrap: wrap;
}

.pufiNapBtn {
    background-image: url("../../assets/mainImages/pufiNap.jpg");
    @include backImageContainer();
}

.pufiNapText {
    @include textContainer();
}

.triangle {
    background-color: white;
    width: 60px;
    height: 60px;
    transform: rotate(135deg);
    display: flex;
    align-self: center;
}

@media(max-width: 620px) {
    .pufiNapContainer {
        justify-content: center;
        max-width: 100%;
        height: auto;
    }
}