.pufiPuffContainer {
    display: flex;
    flex-wrap: wrap;
}

.pufiPuffBtn {
    background-image: url("../../assets/mainImages/pufiPuff.jpg");
    @include backImageContainer();
}

.pufiPuffText {
    @include textContainer();
}

.triangle {
     background-color: white;
     width: 60px;
     height: 60px;
     transform: rotate(135deg);
     display: flex;
     align-self: center;
 
 }
 

@media(max-width: 620px) {
    .pufiPuffContainer {
        justify-content: center;
        max-width: 100%;
        height: auto;
    }
}