.pufiCartContainer {
    display: flex;
    flex-wrap: wrap;
}

.pufiCartBtn {
    background-image: url("../../assets/mainImages/pufiCart.jpg");
    @include backImageContainer();
}

.pufiCartText {
    @include textContainer();
}

@media(max-width: 620px) {
    .pufiCartContainer {
        align-items: center;
        flex-direction: column-reverse;
        justify-content: center;
        max-width: 100%;
        height: auto;
    }
}