.pufiRainContainer {
    display: flex;
    flex-wrap: wrap;
}

.pufiRainBtn {
    background-image: url("../../assets/mainImages/pufiRain.jpg");
    @include backImageContainer();
}

.pufiRainText {
    @include textContainer();
}

@media(max-width: 620px) {
    .pufiRainContainer {
        align-items: center;
        flex-direction: column-reverse;
        justify-content: center;
        max-width: 100%;
        height: auto;
    }
}