.formContainer {
    display: flex;
}

.form {
    display: flex;

    input {
        width: 50vw;
        height: 34px;
        border-color: black;
        border-right: none;
    }

    input::placeholder {
        color: black;
    }

    button {
        height: 40px;
        border-left: none;
        background: transparent;

        &:hover {
            cursor: pointer;
        }

        img {
            width: 20px;
            height: 15px;
        }
    }
}

